@charset "utf-8";

        button {
            padding : 10px;
            margin: 20px;
            width : 300px;
            font-size : 15px;
            border-radius : 15px;
        }
        input {
            padding : 10px;
        }
        select {
            width : 100px;
            padding : 10px;
        }
        .button-set {
            display : flex;
            flex-direction : column;
        }
        .popup-page {
            z-index : 2;
            position : absolute;
            top : 50%;
            left : 50%;
            transform : translate(-50%, -50%);
            background-color : white;
            width : 600px;
            height : 450px;
            border : 1px solid black;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        #projectadd-pop {
            height : 600px;
        }
        .input-box {
            display : flex;
            flex-direction : column;
            align-items : center;
        }
         .popup-addbutton {
            position : absolute;
            right : 0%;
            bottom : 0%;
            padding : 8px;
            width : 80px;
        }
        .xbutton {
            position : absolute;
            right : -2%;
            top : -2%;
            float: right;
            width : 40px;
            background-color: pink;
        }
         .homebutton {
            position : absolute;
            left : 4%;
            top : 5%;
            padding : 15px;
            width : 120px;
            background-color : lightgoldenrodyellow;
        }
         .confirmbutton {
             position : relative;
             left : 128px;
             top : 295px;
             background-color : aliceblue;
         }
         table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 8px;
            text-align: center;
            width: 100px;
        }
        thead {
            position : sticky;
            top : 0;
            background-color : lightskyblue;
        }
        tbody {
            border : 1px solid black;
        }
        .user-table {
            height : 300px;
            border : 1px solid black;
            overflow-y : scroll;
        }
        .projectlist {
            padding : 10px;
            width : 120px;
            position : absolute;
            font-size : 15px;
            border : 4px solid black;
            left : 4%;
        }
        .select-container {
            display : flex;
            flex-direction : row;
            align-items : center;
        }
        .select-container>select {
            margin : 10px;
            width : 150px;
        }
        .select-head {
            position : absolute;
            top : -20px;
        }
        .PL-head {
            left : 76px;
        }
        .Dev-head {
            left : 240px;
        }
        .Tester-head {
            right : 60px;
        }