@charset "utf-8";

 button {
     padding : 10px;
     margin: 20px;
     width : 300px;
     font-size : 20px;
     border-radius : 15px;
 }

 .button-set {
     display : flex;
     flex-direction : column;
 }

