@charset "utf-8";

 .tc {
     text-align: center;
 }
  .center {
      position : absolute;
      left : 50%;
      transform : translateX(-50%);
  }
  .center-origin {
      position: absolute;
      top : 50%;
      left : 50%;
      transform : translate(-50%, -50%);
  }
  .w200 {
        width : 200px;
  }
  .w500 {
      width : 500px;
  }
  .w700 {
         width : 700px;
  }
  .w1000 {
      width : 1000px;
  }
  .h200 {
        height : 200px;
  }
  #bg-page {
      z-index: 1;
      position: absolute;
      top : 50%;
      left : 50%;
      transform : translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background-color: lightgrey;
      opacity: 0.8;
  }
  .shadow {
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
