@charset "UTF-8";

 table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            width: 150px;
        }
        thead {
            position : sticky;
            top : 0;
            background-color : lightskyblue;
        }
        tbody {
            border : 1px solid black;
        }
        button {
            border-radius : 10px;
            font-size : 15px;
            padding : 10px;
        }
        .buttonSet {
            position : relative;
            left : 67%;
        }
        .homebutton {
            padding : 10px;
            width : 100px;
        }
        .addbutton {
            position : relative;
            left : 75%;
            top : 500px;
            padding : 10px;
            width : 130px;
        }
        .xbutton {
            position : absolute;
            left : 93%;
            top : 1%;
            float: right;
            background-color: pink;
            padding : 12px;
        }
        th > button {
            padding : 8px;
            margin : -5px;
            background-color : lightskyblue;
            border : none;
            width : 100px;
        }
        .input-box {
            display : flex;
            flex-direction : column;
            align-items : center;
        }
        .proj-table {
            width : 1000px;
            height : 450px;
            border : 1px solid black;
            overflow-y : scroll;
        }
