@charset "utf-8";
        button {
            border-radius : 10px;
            font-size : 15px;
            padding : 10px;
        }
        .buttonSet {
            position : relative;
            left : 69%;
            top : -10px;
        }
        .homebutton {
            position : absolute;
            left : 4%;
            top : 5%;
            padding : 15px;
            width : 120px;
            background-color : lightgoldenrodyellow;
        }
        .applybutton {
            position : absolute;
            right : 20px;
            bottom : -30px;
            padding : 10px;
            width : 130px;
            background-color : azure;
        }
        .newcommentbutton {
            position: absolute;
            right: 160px;
            bottom: -30px;
            background-color: beige;
            padding: 10px;
        }
        .popup-addbutton {
            position : absolute;
            right : 2%;
            bottom : 3%;
            padding : 8px;
            width : 80px;
        }
        .xbutton {
            position : absolute;
            left : 94%;
            top : 1%;
            float: right;
            background-color: pink;
            padding : 12px;
        }
        th > button {
            padding : 8px;
            margin : -5px;
            background-color : lightskyblue;
            border : none;
            width : 120px;
        }
        .popup-page {
            z-index : 2;
            position : absolute;
            top : 50%;
            left : 50%;
            transform : translate(-50%, -50%);
            background-color : white;
            width : 1000px;
            height : 700px;
            border : 1px solid black;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
         #comment-popup {
            width : 700px;
            height : 400px;
        }
        .input-box {
            padding : 30px;
            margin : 20px;
            width : 1000px;
            height : 600px;
            border : 3px solid black;
        }
        .area-box {
            display : flex;
            flex-direction : column;
        }
        input {
            padding : 5px;
            font-size : 15px;
            width : 500px;
        }
        select {
            margin : 20px;
            padding : 10px;
            font-size : 15px;
        }
         .select-head {
            position : relative;
            top : 26px;
        }
        .priority-head {
            left : 42px;
        }
        /*이거 계속 사이즈 기기마다 달라지면 묶어서 조정하기 */
        .status-head {
            left : 120px;
        }
        .type-head {
            left : 198px;
        }
        textarea {
            width : 800px;
            font-size : 16px;
        }
        #comment-input {
            width : 400px;
            background-color : azure;
        }

        .comment-history {
            background-color : floralwhite;
            border : 3px solid beige;
            border-collapse : collapse;
            margin-bottom : 20px;
        }
        .comment-head {
            width : 600px;
            border : 3px solid beige;
            border-collapse : collapse;
        }
