@charset "utf-8";
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
            text-align: center;
            width: 50px;
        }
        thead {
            position : sticky;
            top : 0;
            background-color : lightskyblue;
        }
        tbody {
            border : 1px solid black;
        }
        button {
            border-radius : 10px;
            font-size : 15px;
            padding : 10px;
        }
        .buttonSet {
            position : relative;
            left : 78%;
            top : -10px;
        }
        .homebutton {
            position : absolute;
            left : 4%;
            top : 5%;
            padding : 15px;
            width : 120px;
            background-color : lightgoldenrodyellow;
        }
        .addbutton {
            position : absolute;
            left : 810px;
            padding : 10px;
            width : 130px;
            background : azure;
        }
         .search-set {
            top : 700px;
            left : 760px;
            display : flex;
            flex-direction : row;
        }
        .resetbutton {
            padding : 10px;
            margin-left : 10px;
            width : 70px;
            height : 40px;
            background-color : burlywood;
        }
        .searchbutton {
            padding : 10px;
            margin-left : 10px;
            width : 100px;
            height : 40px;
        }
        .searchinput {
            padding : 10px;
            width : 200px;
        }
        #search-select {
            position : relative;
            bottom : 20px;
            padding : 10px;
        }
        .popup-addbutton {
            position : absolute;
            right : 5%;
            bottom : 3%;
            padding : 8px;
            width : 80px;
        }
        .xbutton {
            position : absolute;
            left : 95%;
            top : 1%;
            float: right;
            background-color: pink;
            padding : 12px;
        }
        th > button {
            padding : 8px;
            margin : -5px;
            background-color : lightskyblue;
            border : none;
            width : 120px;
        }
        .popup-page {
            z-index : 2;
            position : absolute;
            top : 50%;
            left : 50%;
            transform : translate(-50%, -50%);
            background-color : white;
            width : 1000px;
            height : 700px;
            border : 1px solid black;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        }
        .input-box {
            margin : 20px;
            height : 450px;
        }
        .area-box {
            display : flex;
            flex-direction : column;
        }
        .issue-table {
            height : 550px;
            border : 1px solid black;
            overflow-y : scroll;
        }
        input {
            padding : 5px;
            font-size : 15px;
            width : 500px;
        }
        select {
            margin : 20px;
            padding : 10px;
            font-size : 15px;
            border : 1px solid black;
        }
         .select-head {
            position : relative;
            top : 26px;
        }
        .priority-head {
            left : 42px;
        }
        /*이거 계속 사이즈 기기마다 달라지면 묶어서 조정하기 */
        .status-head {
            left : 120px;
        }
        .type-head {
            left : 198px;
        }
        textarea {
            width : 800px;
            font-size : 16px;
        }
         #title-input {
            border : 1px solid black;
        }
        #description-input {
            border : 1px solid black;
        }

